.previewContainer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  margin: 6px 0;
}

.captionContainer{
  font-size: 14px;
  gap: 4px;
  line-height: 18px;
  word-wrap: break-word;
  word-break: break-all;
}

.captionContainer a {
  padding-right: 4px;
}

.username {
  font-weight: 700;
}

.viewCommentsButton {
  border: none;
  background-color: transparent;
  padding: 0;
  color: #8E8E8E;
  font-size: 14px;
  cursor: pointer;
}
