.filterItemContainer {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio]:checked + .imageContainer {
  outline: 2px solid #0395F6;
}

.filterName {
  text-transform: capitalize;
  font-size: 12px;
  padding: 6px 0;
  color: #8E8E8E;
}

.imageContainer {
  /* border: 1px solid red; */
  border-radius: 4px;
  height: 88px;
  width: 88px;
  overflow: hidden;
  cursor: pointer;
}

.filter {
  position: relative;
}

.filter::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.clarendon {
  filter: contrast(120%) saturate(125%);
}

.clarendon::before {
  mix-blend-mode: overlay;
  background: rgba(127, 187, 227, 0.2);
}

.gingham {
  filter: brightness(105%) hue-rotate(350deg);
}

.gingham::before{
  mix-blend-mode: darken;
  background: linear-gradient(to right, rgba(66, 10, 14, 0.2) 1, rgba(0, 0, 0, 0));
}

/* inkwell */
.moon {
  filter: contrast(110%) brightness(110%) sepia(30%) grayscale(100%);
}

.moon::before{
  background: rgba(0, 0, 0, 0);
}

/* stinson */
.lark {
  filter: contrast(75%) brightness(115%) saturate(85%);
}

.lark::before{
  mix-blend-mode: soft-light;
  background: rgba(240, 149, 128, 0.2);
}

.reyes {
  filter: contrast(85%) brightness(110%) saturate(75%) sepia(22%);
}

.reyes::before {
  mix-blend-mode: soft-light;
  opacity: 0.5;
  background: rgba(173, 205, 239, 1);
}

/* brannan */
.juno {
  filter: contrast(140%) sepia(50%);
}

.juno::before{
  mix-blend-mode: lighten;
  background: rgba(161, 44, 199, 0.31);
}

/* early bird */
.slumber {
  filter: contrast(90%) sepia(20%);
}

.slumber::before{
  mix-blend-mode: overlay;
  background: radial-gradient(circle closest-corner at 50% 50%, rgba(208, 186, 142, 1) 20, rgba(29, 2, 16, 0.2));
}

/* brooklyn */
.crema {
  filter: contrast(90%) brightness(110%);
}

.crema::before{
  mix-blend-mode: overlay;
  background: radial-gradient(circle closest-corner at 50% 50%, rgba(168, 223, 193, 0.4) 1, rgba(183, 196, 200, 0.2));
}

/* toaster */
.ludwig {
  filter: contrast(150%) brightness(90%);
}

.ludwig::before {
  mix-blend-mode: screen;
  opacity: 0.5;
  background: radial-gradient(circle closest-corner at 50% 50%, rgba(15, 78, 128, 1) 1, rgba(59, 0, 59, 1));
}

.aden {
  position: relative;
  filter: contrast(90%) brightness(120%) saturate(85%) hue-rotate(20deg);
}

.aden::before{
  mix-blend-mode: darken;
  background: linear-gradient(to right, rgba(66, 10, 14, 0.2) 1, rgba(66, 10, 14, 0));
}

.perpetua {
  position: relative;
  filter: contrast(75%) brightness(115%) saturate(85%);
}

.perpetua::before {
  mix-blend-mode: soft-light;
  opacity: 0.5;
  background: linear-gradient(to bottom, rgba(0, 91, 154, 1) 1, rgba(61, 193, 230, 0));
}
