.cmContainer{
  width: 400px;
  border-bottom: 1px solid rgb(183, 182, 182, 0.250);
  position: relative;
  max-height: 500px;
  /* float:left; */
  height: 500px;
  overflow:hidden;
  overflow-y:auto;
}

.cmHome{
  position:absolute;
  top:0;
  animation: scroll 10s linear 1s infinite;
}
