
.form{
    border-top: 1px solid #DBDBDB;
    /* margin-top: 10px; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    /* width: 400px; */
}

.cmContainer{
    /* width: auto; */
    border-bottom: 1px solid #DBDBDB;
    position: relative;
    /* max-height: 500px; */
    /* float:left; */
    height: 500px;
    overflow:hidden;
    overflow-y:auto;
}
.cmHome{
    position:absolute;
	  top:0;
  	animation: scroll 10s linear 1s infinite;
}

.container{
    font-family: sans-serif;
    display: flex;
    gap: 14px;
    margin-left: 20px;
    margin-top: 12px;
    /* margin: 20px; */
    border-radius: 24px;
}

.profilePicture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
  }

.profilePicture img {
    max-width: 100%;
    max-height: 100%;
}

.textContainer{
    width: 320px;

}
.captionContainer{
  width: 320px;
  margin-bottom: 35px;

}

.username{
  font-weight: bold;
  color: #262626;
  font-size: 13px;
}

.comment{
  font-size: 13px;
  color:#262626;
  margin-left: 5px;
  word-wrap: break-word;
}

/* .caption{
  font-size: 13px;
  color:#262626;
  margin-left: 5px;
  word-wrap: break-word;
  display: block;
  margin-bottom: 30px;
} */

.reply{
  text-decoration: none;
  color: #8E8E8E;
  font-size: 13px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 500;
}

.replyContainer{
  display: flex;
  margin-top: 12px;
}


.moreButton{
  align-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.inputContainer{

  height: 50px;
  display: flex;
  position: relative;
}

.emojiInput{
  width:40px;
  margin-left: 16px;
  align-self: center;
}

.commentInput{
  width:300px;
  border: none;
  outline: none;
  background-color: transparent;
}

.postComment {
  width:50px;
  height: 42px;
  align-self: center;
  color:rgb(53, 149, 246);
  font-size: 14px;
  background-color: transparent;
  border: none;
  font-weight:500;
  cursor: pointer;
}

.disablePost {
  opacity: 0.6;
}

.noCmContainer{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noCommentsLabel{
  font-size: 22px;
  font-weight: 600;

}

.startConLabel{
  font-size: 13px;
  font-weight: 300;
}

.viewHideDiv{
  display: flex;
}

.viewReplies{
  text-decoration: none;
  color: #8E8E8E;
  font-size: 13px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 500;
}

.line{
  width: 24px;
  height: 1px;
  border-bottom: 1px solid #8E8E8E;
  margin: 8px;
  align-self: center;
}