.emojiwindow{
    display: none;
}
.show{
    display:flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid gray;
    width:200px;
    height: 200px;
    /* margin-left: 950px;
    margin-top: 80px; */
    z-index: 1;
}

.sub-window{
    z-index: 1;
    background-color: white;
}