.settingContainer {
  /* border: 1px solid red; */
  display: flex;
}

.settingNav {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
}

.settingNav a {
  /* border: 1px solid green; */
  padding: 16px 16px 16px 30px;
  color: #262626;
  font-size: 16px;
}

.activeLink {
  font-weight: bold;
  position: relative;
}

.activeLink::before {
  position: absolute;
  content: "0";
  left: 0;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.settingOption {
  border: 1px solid green;
  /* width: 500px; */
  /* height: 300px; */
}
