.feedLayout {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  margin-left: 244px;
  padding-top: 48px;
}

.feed {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sideSection {
  /* border: 1px solid red; */
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.userCard {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.userInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.username, .fullname {
  font-size: 14px;
  padding-bottom: 2px;
}

.username {
  color: #262626;
  font-weight: 500;
}

.fullname {
  color: #8E8E8E
}

.switchButton {
  color: #0095F6;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}
