.searchContainer {
  border-right: 1px solid #dbdbdb;
  border-radius: 16px;
  display: flex;
  position: fixed;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  padding: 8px 12px 20px;
  width: 472px;
  background-color: white;
  z-index: -1;
  animation: slideIn 300ms ease-out;
}

.hideSearch {
  animation: slideOut 300ms ease-out;
}

@keyframes slideIn {
  from {
    width: 0;
  }

  to {
    width: 472px;
  }
}

@keyframes slideOut {
  from {
    width: 472px;
  }

  to {
    width: 0;
  }
}
